body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#localVideo,
.remote-video {
  width: 320px;
  height: 240px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
}
